services:
  xdc:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xdc-frontend-dev
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./index.html:/app/index.html
      - ./vite.config.ts:/app/vite.config.ts
      - ./tsconfig.json:/app/tsconfig.json
      - ./tsconfig.node.json:/app/tsconfig.node.json
      - ./docker.env:/app/.env
    networks:
      - xdc_subnet_network
    stdin_open: true
    tty: true
    entrypoint: ["bash", "-c", "npm run dev"]

networks:
  xdc_subnet_network:
    external: true
    name: docker_net
