services:
  contract:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xdc-contract-dev
    volumes:
      - ./contracts:/app/contracts
      - ./scripts:/app/scripts
      
      - ./ignition:/app/ignition
      - ./test:/app/test

      # Configuration files
      - ./hardhat.config.ts:/app/hardhat.config.ts
      
      - ./tsconfig.json:/app/tsconfig.json
      - ../subnet/genesis.json:/subnet/genesis.json:ro
      - ./docker.env:/app/.env
    networks:
      - xdc_subnet_network
    entrypoint: ["bash", "-c", "tail -f /dev/null"]

networks:
  xdc_subnet_network:
    external: true
    name: docker_net
